{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block container %}
    <form method="POST">
        <div id="form_header" class="row shadow-lg rounded">
            {% block form_header %}{% endblock %}
        </div>
        <div class="row">
            {% block editor %}
                <div class="col-lg-6 p-0">
                    <div id="codemirror" class="shadow-lg rounded"></div>
                    <textarea name="content" id="content_mirror" class="d-none" required></textarea>
                </div>
                <div class="col-lg-6 p-0">
                    <div id="editor_preview" class="markdown-body shadow-lg rounded">
                        <div class="render-preview"></div>
                        {% block signature %}{% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </form>
{% endblock %}