{% extends 'base.html.twig' %}

{% block page %}
    <div class="row">
        <div id="content" class="shadow-lg rounded">
            {% block content %}{% endblock %}
            {% block comments %}{% endblock %}
        </div>
        {% block menu %}
            {{ render(controller('App\\Controller\\AppController::menu', {'request': app.request, 'post': post ?? null, 'page': page ?? null})) }}
        {% endblock %}
    </div>
{% endblock %}