{% extends 'base.html.twig' %}

{% block title %}Mediashare{% endblock %}
{% block description %}Publish your article and share it with your audience.{% endblock %}

{% block content %}
    <div class="col-12 markdownify markdown-body shadow-lg rounded">
        {# {% include 'app/_content.md.twig' %} #}
        {{ content|raw }}
    </div>
{% endblock %}