{% extends 'view/page.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block content %}
        <form class="col-12" method="POST">
            <div class="card bg-main shadow">
                <div class="card-header">
                    <h2 class="card-title">
                        Nouveau mot de passe
                    </h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe *</label>
                        <input type="password" name="password" id="inputPassword" class="form-control border" minlength="6" required>    
                    </div>
                        <div class="form-group">
                        <label for="inputPasswordRepeat">Répéter votre mot de passe *</label>
                        <input type="password" name="passwordRepeat" id="inputPasswordRepeat" class="form-control border" minlength="6" required>    
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Envoyer
                    </button>
                </div>
            </div>
        </form>
{% endblock %}