{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block content %}
    <div class="row m-1">
        <div class="col-lg-6 mt-1">
            <div class="card bg-main shadow">
                <div class="card-header">
                    <h2 class="card-title">
                        Login
                    </h2>
                </div>
                <div class="card-body">
                    {% include 'security/_login.html.twig' %}
                </div>
                <div class="card-footer">
                    <button form="form_login" class="btn btn-lg btn-primary" type="submit">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-1">
            <div class="card bg-main shadow">
                <div class="card-header">
                    <h2 class="card-title">
                        Registration
                    </h2>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\RegistrationController::register', {'request': app.request})) }}
                </div>
                <div class="card-footer">
                    <button form="form_registration" class="btn btn-lg btn-primary float-right" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
