{% extends 'base.html.twig' %}

{% block title %}Password recovery{% endblock %}

{% block content %}
    <div class="col-12 m-1">
        <form id="new_password" method="POST">
            <div class="card bg-main shadow">
                <div class="card-header">
                    <h2 class="card-title">
                        Password recovery
                    </h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" minlength="6" required>    
                    </div>
                        <div class="form-group">
                        <label for="inputPasswordRepeat">PasswordRepeat</label>
                        <input type="password" name="passwordRepeat" id="inputPasswordRepeat" class="form-control" minlength="6" required>    
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Send
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}