{% extends 'view/page.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
	<div class="col-12">	
		{% include 'admin/_pages.html.twig' %}
		{% include 'admin/_templates.html.twig' %}
		{% include 'admin/_posts.html.twig' %}
		{% include 'admin/_comments.html.twig' %}
		{% include 'admin/_accounts.html.twig' %}
	</div>
{% endblock %}