{% extends 'view/form.html.twig' %}

{% block title %}{{ module.name ?? 'module_name' }}{% endblock %}

{% block form_header %}
    <div class="col-lg-9 p-0">
        <input type="text" name="name" id="input_name" class="w-100 rounded form-control" placeholder="module_name*" required="true" {% if page is defined %}value="{{ page.name ?? 'module_name' }}"{% endif %} autofocus>
    </div>
    <div class="col-lg-3 p-0">
        <div class="float-left w-50 border-top">
            <a tabindex="-1" class="btn btn-cancel" title="Cancel" href="{{ path('admin') }}">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="float-right w-50 border-top">
            <button tabindex="-1" type="submit" class="btn btn-submit" title="Submit">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
{% endblock %}