{% extends 'view/form.html.twig' %}

{% block title %}Page{% endblock %}

{% block form_inputs %}
    <div class="col-lg-9 p-0">
        <input type="text" name="url" id="input_url" class="w-100 rounded form-control" placeholder="Url..." required="true" {% if page is defined %}value="{{ page.url ?? '/' }}"{% endif %} autofocus>
    </div>
    <div class="col-lg-3 p-0">
        <div class="float-left w-50 border-top">
            <a tabindex="-1" class="btn btn-cancel" title="Cancel" href="{{ path('admin') }}"
            >
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="float-right w-50 border-top">
            <button tabindex="-1" type="submit" class="btn btn-submit" title="Submit">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
    <div class="col-md-6 p-0 shadow-lg">
        <input type="text" name="title" id="input_title" class="w-100 rounded form-control" placeholder="Title..." required="true" {% if page is defined %}value="{{ page.title }}"{% endif %} autofocus>
    </div>
    <div class="col-md-6 p-0 shadow-lg">
        <input type="text" name="description" id="input_description" class="w-100 rounded form-control" placeholder="Description..." {% if page is defined %}value="{{ page.description }}"{% endif %} autofocus>
    </div>
{% endblock %}