{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block editor %}
    <form id="post_form" method="POST">
        <div class="row shadow-lg rounded">
            <div class="col-lg-9 p-0">
                <input type="text" name="title" id="input_title" class="w-100 rounded form-control" placeholder="Title..." required="true" {% if post is defined %}value="{{ post.title }}"{% endif %} autofocus>
            </div>
            <div class="col-lg-3 p-0">
                <div class="float-left w-50 border-top">
                    <a tabindex="-1" class="btn btn-cancel" title="Cancel"
                        {% if post is defined %}href="{{ path('post', {'slug': post.slug}) }}"{% else %}href="{{ path('index') }}"{% endif %}
                    >
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="float-right w-50 border-top">
                    <button tabindex="-1" form="post_form" type="submit" class="btn btn-submit" title="Submit">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 p-0">
                {% include 'post/_textarea.html.twig' %}
            </div>
            <div class="col-lg-6 p-0">
                {% include 'post/_content.html.twig' %}
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        $('#post_content').height('calc(100vh - 51px)');
        {# TextArea Macro #}
        $(window).bind('keydown', function(event) {
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                case 's':
                    event.preventDefault();
                    $('form#post_form button.btn-submit').click();
                    break;
                //case 'f':
                //    event.preventDefault();
                //    alert('ctrl-f');
                //    break;
                //case 'g':
                //    event.preventDefault();
                //    alert('ctrl-g');
                //    break;
                }
            }
        });
    </script>
{% endblock %}