<h1>Hello</h1>

<p>
    We received a request for a forgotten password for the account linked to this email. <br>
    To continue the process, please follow this link: <br><br>
    <a href="{{ path('account_password_recovery', {'token': token}) }}">Password recovery</a>.
</p>

<p>
    Cheers!
</p>
