<h1>Bonjour</h1>

<p>
    Nous avons reçu une demande de mot de passe oublié pour le compte lié à cet email. <br>
    Pour poursuivre la procédure, veuillez suivre ce lien : <br><br>
    <a href="{{ url('account_password_recovery', {'token': user_token}) }}">Nouveau mot de passe</a>.
</p>